[run]
source = src
omit =
    */tests/*
    */test_*.py
    */__pycache__/*
    */migrations/*
    */.venv/*
    */venv/*
    */env/*
    */setup.py
    */conf/*
    */docs/*

[report]
precision = 2
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if False:
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

[html]
directory = coverage/htmlcov

[xml]
output = coverage/coverage.xml

[json]
output = coverage/coverage.json
